p{
	display: block;
}

.main{
	width: 40vw;
	height: 60vh;
	background-color: aqua;
	padding: 20px 30px 20px 30px;
font-family: 'Roboto Slab', serif;background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;

color: white;
font-size: 30px;
font-weight: 40;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border-radius: 2px;
}

.main-body{
	display: flex;
	justify-content: center;
	margin-top: 15vh;
}